body {
    background-color: rgb(252, 110, 81);
    font-family: 'Lato', sans-serif;
}

main {
    width: 80%;
    margin: auto;
}

#navbar ul {
    list-style: none;
    width: 75%;
    height: auto;
    margin: auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

#navbar ul a {
    display: inline-block;
    width: 30%;
    height: auto;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: text-top;
}

h1, h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    padding-top: 25px;
}

h2, h3 {
    padding-left: 25px;
}

.copy {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
}

.ingredients, .procedure {
    padding-right: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

img {
    display: block;
    width: 50%;
    height: auto;
    padding: 10px;
    float: right
}

article {
    display: block;
    background-color: rgba(255, 110, 81, 1);
    width: 100%;
    height: auto;
    margin: auto;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

footer {
    text-align: center;
}

footer #credit {
    text-align: center;
}

