body {
    background-color: #F5F7FA;
    font-family: Helvetica, sans-serif;
}

img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

article {
    display: block;
    background-color: #FC6E51;
}

a {
    text-decoration: none;
    color: #2ABA66;
}

a:hover {
    color: #2ECC71
}

